@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

@theme{
  --color-background: #132519;
  --color-primary: #7BF179;
  --color-secondary: #C4EA57;
  --color-dark: #1D1F1C;
  --color-light: #F5FEFB;
  --color-light-gradient: linear-gradient(180deg, #C4EA57 0%, #7BF179 100%);
  --color-dark-gradient: linear-gradient(180deg, #132519 0%, #355935 100%);
  --font-display: 'Sora', sans-serif;
}

:root {
  font-display: 'Sora', sans-serif;
  font: 'Sora', sans-serif;
  /* line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

body {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  place-items: center;
  background-color: var(--color-background);
}
